{% extends 'base.html.twig' %}

{% block body %}
    <div >
            {{ form_start(form) }}
            {{ form_row(form.type) }}
            <button type="submit">Add exit type</button>
            {{ form_end(form) }}
    </div>
{% endblock %}